<span class="intro">batman is badass</span>

Authors: <%= @authors.join(', ') %>

<ul>
  <li><a href="/random">random link</a></li>
  <li><h2>Photos</h2></li>
  <li><a href="/photos">photos index</a></li>
  <li><a href="/photos/new">create photo</a></li>
</ul>