<h3>Make a photo</h3>
<form action="/photos/create" method="post">
  <label>name:
    <input type="text" name="photo[name]"/>
  </label>
  <label>description:
    <input type="text" name="photo[description]"/>
  </label>
  <input type="submit" name="create photo" class="submit" />
</form>