<h3>Edit a photo</h3>
<form action="/photos/<%= @photo.id %>/update" method="post">
  <label>name:
    <input type="text" name="photo[name]" value="<%= @photo.name %>" />
  </label>
  <label>description:
    <input type="text" name="photo[description]" value="<%= @photo.description %>"/>
  </label>
  <input type="submit" name="update photo" class="submit" />
</form>
